.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;

    img {
        width: 30%;
        border-radius: 10px;
    }

    &:hover {
        background: rgb(222, 222, 255);
    }
}

.song-description {
    padding-left: 1rem;

    h3 {
        font-size: 1rem;
        text-decoration: underline;
        font-style: italic;
    }
    h4 {
        font-size: 0.7rem;
        font-style: italic;
    }
}
