.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    // background-color: orange;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        // padding: 1rem 0;
        -webkit-appearance: none;
        background-color: transparent;
        cursor: pointer;
    }

    p {
        padding: 1rem;
    }
}

.play-control {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    svg {
        cursor: pointer;
    }
}

.track {
    width: 100%;
    height: 0.5rem;
    background-color: lightblue;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.animated-track {
    width: 100%;
    height: 100%;
    background-color: rgb(204, 204, 204);
    position: absolute;
    top: 0;
    left: 0;
    // pointer-events: none mi serve perche il layer di sopra non mi permetterebbe di portare avanti il pallino dell'input
    pointer-events: none;
}

input[type="range"]:focus {
    outline: none;
}

//* il pallino dell'input
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}

//!MOZILLA
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
}
